<a href="https://colab.research.google.com/github/jonnes-nascimento/machine_learning/blob/master/Introdu%C3%A7%C3%A3o_a_Machine_Learning_e_Classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importa a biblioteca pandas e le o arquivo CSV disponibilizado na URI

import pandas as pd

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)

In [3]:
# renomeia as colunas para um melhor entendimento (opcional)

mapa = {
    'home' : 'principal',
    'how_it_works' : 'como_funciona',
    'contact' : 'contato',
    'bought' : 'comprou'
}

dados = dados.rename(columns = mapa)

dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [4]:
# como estamos lidando com uma base de dados unica, devemos separar os dados que serao usados como features e os dados usados resultados

x = dados[['principal', 'como_funciona', 'contato']]
y = dados['comprou']

y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [6]:
# como preciso de dados para testar o modelo, vou separar os dados que tenho em, aproximadamente, 25% para teste 
# e 75% para treino. Caso eu treinasse meu modelo com 100% dos dados, nao teria mais dados para testar e, como o 
# modelo ja conheceria 100% dos dados, qualquer terte que eu fizesse com algum desses dados, seria enviesado.

treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos 24 elementos

In [13]:
# importa o modelo LinearSVC do sklearn (svm = support vector machine; svc = support vector classification)
# e treina com os dados obtidos. Apos isso, ja podemos fazer nossas previsoes com os itens de teste

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi de %.2f%%" % acuracia)

A acurácia foi de 95.83%

# Utilizando o train_test_split e definindo um random seed

In [14]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.25)

print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)